In [4]:
def vol(rad):
    return 4/3 * 3.14 * rad** 3

In [6]:
# Check
vol(2)

33.49333333333333

In [11]:
def ran_check(num, low, high):
    if num >= low and num <= high:
        print(f"{num} is in the range between {low} and {high}")
    else:
        print(f"{num} is not the range between {low} and {high}")

In [14]:
# Check
ran_check(5, 2, 7)

5 is in the range between 2 and 7

In [16]:
def ran_bool(num, low, high):
    if num >= low and num <= high:
        return True
    else:
        return False

In [19]:
# Check
ran_bool(3, 1, 10)

True

In [29]:
def up_low(s):
    upper_case = 0
    lower_case = 0
    for letter in s:
        if letter.isupper():
            upper_case += 1
        elif letter.islower():
            lower_case += 1
    
    print(f"Original String : {s}")
    print(f"No. of Upper case characters : {upper_case}")
    print(f"No. of Lower case characters : {lower_case}")

In [30]:
s = "Hello Mr. Rogers, how are you this fine Tuesday?"
up_low(s)

Original String : Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters : 4
No. of Lower case characters : 33

In [52]:
def unique_list(lst):
    return list(set(lst))

In [53]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [67]:
def multiply(numbers):
    last_number = 1
    for number in numbers:
        last_number = last_number * number       
        
    print(last_number)

In [68]:
multiply([1, 2, 3, -4])

-24

In [75]:
def palindrome(s):
    if " " in s:
        s = s.replace(" ", "")
    palindrome = reversed(s)
    for letter, rev_letter in zip(s, palindrome):
        if letter != rev_letter:
            return False
    return True

In [77]:
palindrome("helleh")

True

In [84]:
import string

def ispangram(str1, alphabet = string.ascii_lowercase):
    return set(alphabet) <= set(str1.lower())

In [85]:
ispangram("The quick brown fox jumps over the lazy dog")

True